@CHARSET "UTF-8";
/* main css */
body{margin : 0 auto; width: 100vw; height: 100vh;}
header{display : flex; flex-direction: row; justify-content: space-around; align-items: center; }
#menubar{display : flex; flex-direction: row; margin : 0 150px;}
#menubar li{list-style: none; margin : 0 50px;}
li a{text-decoration: none;}
#enterance{display : flex; flex-direction: row; justify-content: space-between; margin-left : 50px;}
.ent-button{margin : 0 5px; display : flex; flex-direction: column; margin: 5px 5px; justify-content: center; align-items: center;}
.ent-img{width : 45px; height: 45px; margin-bottom: 10px;}
main{display : flex; flex-direction: column; justify-content: center; align-items: center;}
main img{width: 100vw; height: 500px;}
#btn-container{display: flex; flex-direction: row; justify-content: center;}
.btn-main{margin: 30px 100px; padding : 20px 50px; border-radius: 5px; border : none; background-color: #49B466; color : white; font-weight: bold; font-size: 20px;}
.row{display : flex; flex-direction: row; margin : 10px 10px; justify-content: flex-start; align-items : center;}

/* loginFrm css*/
.sub_div {display: flex; justify-content: center; text-align: center; align-items: center; translate : 0 50%}
.login-wrap{display: flex; justify-content: center; text-align: center; align-items: center;}
form{margin-bottom : 20px; display: flex; justify-content: center; align-items:center; text-align: center; border: 1px solid black; width: 500px; height: 390px;}
fieldset{border : none; border-radius: 5px; display: flex; align-items: center; flex-direction: column;}
#login_logo{width : 150px; height : 150px;}
table{margin-top: 20px;}
input{margin: 5px; width : 300px; height: 30px; border-radius: 5px; border : 0.5px solid black;}
.btn-loginMem-wrap{display : flex; justify-content: center; align-items: center; flex-direction: column; }
.btn-loginMem {margin : 5px 5px; width : 310px; height: 35px; border: none; border-radius: 5px; background-color: #49B466; color: white; font-weight:bold;}
.searchInfo{display : center; justify-content: center; text-align: center; align-items: center;  width: 500px; height: 300px;}
.searchInfo a{cursor: pointer;}

