@CHARSET "UTF-8";
/*카페24슈퍼매직*/
@font-face {
    font-family: 'Cafe24Supermagic-Bold-v1.0';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/*앨리스디지털배움체*/
@font-face {
    font-family: 'EliceDigitalBaeum-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum-Bd.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/*주아체*/
@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TTWanjudaedunsancheB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/TTWanjudaedunsancheB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
/* main css */
body{margin : 0 auto; width: 100vw; height: 100vh;  font-family: 'GmarketSansMedium';}
header{display : flex; flex-direction: row; justify-content: space-around; align-items: center; }
.main-container { height : 900px;}
#menubar{display : flex; flex-direction: row; margin : 0 150px; font-size : 100px;}
#menubar li{list-style: none; margin : 0 50px;}
li a{text-decoration: none; font-size : 20px;}
#enterance{display : flex; flex-direction: row; justify-content: space-between; margin-left : 60px;}
.ent-button{margin : 0 5px; display : flex; flex-direction: column; margin: 5px 5px; justify-content: center; align-items: center;}
.ent-img{width : 45px; height: 45px; margin-bottom: 10px;}
main{display : flex; flex-direction: column; justify-content: center; align-items: center;}
main img{width: 100vw; height: 500px;}
#btn-container{display: flex; flex-direction: row; justify-content: center;}
.btn-main{margin: 30px 100px; width:200px; height : 70px;  padding : 10px 10px; border-radius: 10px; border : none; background-color: #49B466; color : white; font-weight: bold; font-family: 'GmarketSansMedium'; font-size: 30px;}
.footerRow{display : flex; flex-direction: row; margin : 10px 10px; justify-content: flex-start; align-items : center;}

/* loginFrm css*/
.sub_div {display: flex; justify-content: center; text-align: center; align-items: center; translate : 0 200px;}
.login-wrap{display: flex; justify-content: center; text-align: center; align-items: center;}
.login-form{margin-bottom : 20px; display: flex; justify-content: center; align-items:center; text-align: center; border: 1px solid black; width: 500px; height: 390px;}
#login-fieldset{border : none; border-radius: 5px; display: flex; align-items: center; flex-direction: column;}
#login_logo{width : 150px; height : 150px;}
#iogin-tbl{margin-top: 20px;}
.login-input{margin: 5px; width : 300px; height: 30px; border-radius: 5px; border : 0.5px solid black;}
.btn-loginMem-wrap{display : flex; justify-content: center; align-items: center; flex-direction: column; }
.btn-loginMem {margin : 5px 5px; width : 310px; height: 35px; border: none; border-radius: 5px; background-color: #49B466; color: white; font-weight:bold;}
.searchInfo{display : center; justify-content: center; text-align: center; align-items: center;  width: 500px; height: 300px;}
.searchInfo a{cursor: pointer;}

/* searchId, searchPwd*/
.search-wrapper{display: flex; flex-direction: column; align-items: center; text-align: center; translate : 0 10%;}
.search-subwrapper{display :flex; flex-direction : column; align-items: center; border : 1px solid black; border-radius : 5px; width: 600px; height: 400px;}
.search-input{margin : 5px 0; width : 300px; height : 35px;}
#btn-searchId{margin-top : 10px; width: 305px; height: 35px; border : none; background-color: #49B466; color : white; font-weight: bold;}



