@charset "UTF-8";
#mypage-table {border-collapse : collapse;}
#mypage-table th, td {border-top: 2px solid black; border-bottom : 2px solid black; width : 150px; height : 40px;}
#mypage-table td{text-align : center; padding : 5px; }
#mypage-table input{padding : 10px 40px; width : 300px;}
.btn-save-box {display: flex; justify-content: center; align-items: center;}
#btn-save{border: none; border-radius: 50px; width: 250px; text-align: center; padding: 10px; margin-top: 20px; background-color :#468B97; color: white;
		 font-size: 20px; font-weight: bold; }