@charset "UTF-8";
/*mypage main css 속성*/ 
.left-div ul {list-style: none; padding: 0; margin: 0; margin-block-start: 1em; margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px;padding-inline-start: 40px;}
.left-div ul li { display: list-item; margin-bottom: 10px;}
.left-div ul a {display: inline-block; width: 160px; height: 30px; border-radius: 15px; background-color: #e9e9e9; text-align: center; line-height: 30px; text-decoration: none; color: #000000;}
.left-div ul a:hover {background-color: #49B466; color: #fff;}
.left-div ul .active a {background-color: #49B466; color: #fff;}
.left-div {display: flex; flex-direction: column; align-items: left; margin-left: 180px; width: 200px; float: left;}
.mypage-table input {margin: 0; font-family: inherit; font-size: inherit; line-height: inherit;}
#btn-save{ border: solid 2px #24873a; border-radius: 50px; width: 25%; text-align: center; padding: 0.5rem; margin: 20px; margin-top: 20px; color: #363636;
		 font-size: large; font-weight: bolder; display: flex; justify-content: center; align-items: center; margin-left: 190px;}
.right-div {flex: 1; margin-left: 590px; flex-direction: column; display: flex; flex-wrap: wrap; width: 1200px;}
.con {float: left; }
.left-div h2 {margin-left: 60px;}
.mypage-wrap {padding-top: 5rem; padding-bottom: 7rem; padding-left: 10rem;}
.mypage-wrap .mypage-table {border-top: 2px solid #222222a7; margin-top: 6px; margin-bottom: 13px;}
.mypage-table tbody, td, tfoot, th, thead, tr {border-color: inherit; border-style: solid; border-width: 0;}
.mypage-wrap .mypage-table th:first-child {color: #222222e0; font-weight: 900;}
.mypage-wrap .mypage-table td:not(.mypage-wrap .mypage-table .content td),
.mypage-wrap .mypage-table th:not(.mypage-wrap .mypage-table .content th) { height: 61px; border-bottom: 1px solid #e3e0e0; font-size: 16px; text-align: left;}
.mypage-table input {border: 1px solid #d0d3db; background: #fff; color: #000; vertical-align: middle;
  					border-radius: 3px;padding: 5px; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.119);}
.mypage-table span {color: #248739;}
  
/*회원결제정보 css*/
.mypage-wrap .mypage-table tr:first-child {background: #f0f0f0; font-weight: 500;}
.mypage-wrap .mypage-table td:not(.mypage-wrap .mypage-table .content td) {
    height: 61px; border-bottom: 1px solid #c2c2c2; font-size: 16px; text-align: center;}
.mypage-wrap .mypage-table:not(.service-center) td:first-child {width: 18%;}
.empty_table {padding: 50px 0 !important; text-align: center;}
.container {float: left;}
.container h2 {margin-left: 60px;}

/*수거리스트 CSS*/
#collection-tbl {border-top: 2px solid black; border-bottom: 2px solid black; border-collapse: collapse;}
#collection-tbl th, td {border-left: 2px solid black;padding: 10px 40px;}
#collection-tbl tr :first-of-type {
	border-left: none;
}

.collection-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
}


#btn-accept {
	border: none;
	border-radius: 3px;
	background-color: #49B466;
	color: white;
	padding: 5px 15px;
	font-weight: bold;
}

/*수거 상세보기 CSS*/
.requestDetail-container{display: flex; flex-direction: row;}
#requestDetail{border-collapse: collapse; margin-top : 20px;}
#requestDetail th, td{padding : 10px; border : 2px solid #d2d2d2}
#requestDetail-wrap{border : none; width : 500px;}
.btn-accept{margin : 10px 5px;border : none; padding : 5px 15px; color : white; background-color: #49B466; font-weight: bold; border-radius: 3px;}
.map-btn {margin : 10px 5px; border : none; padding : 5px 15px; color : white; background-color: #49B466; font-weight: bold; border-radius: 3px;}
.btn-wrapper{display : flex; flex-direction : row;}
#map{margin-top : 20px;}
.map-wrapper h3{margin-top : 23px;}



/*수거목록 조회 및 신고 CSS*/
#btn-warning {
	border: none;
	border-radius: 3px;
	background-color: red;
	color: white;
	padding: 5px 15px;
	font-weight: bold;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 60%;
	max-width: 600px;
	position: relative; /* 추가된 속성 */
}

.modal-close {
	color: #aaa;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
	position: absolute; /* 추가된 속성 */
	top: 10px; /* 상단 여백 */
	right: 10px; /* 우측 여백 */
}

.modal-close:hover, .modal-close:focus {
	color: #000;
	text-decoration: none;
}

/* 신고 폼 스타일 */
#warningMadal form {
	display: flex;
	flex-direction: column;
}

#warningMadal form span {
	margin-bottom: 10px;
}

#warningMadal form input, #warningMadal form textarea {
	margin-bottom: 10px;
	padding: 5px;
}

#warningMadal form button[type="submit"] {
	padding: 10px;
	background-color: #49B466;
	color: white;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

#warningMadal form button[type="submit"]:hover {
	background-color: #24873a;
}

.close {
	display: flex;
	flex-direction: row-reverse;
	font-size: 30px; /* 닫기 버튼의 크기 조절 */
	font-weight: bold;
}
/* 받은 메세지 스타일*/
.letterBox {width:1000px; padding-top:10px; display:flex; border-style:solid; border-color:grey; border-radius:10px;}
.letterIcon {width:50px; justify-content: center; align-items: center; text-align: center; padding-top:10px;}
.letterContent {padding-left:10px;}