@charset "UTF-8";
/*mypage main css 속성*/ 
/* my page 메뉴바*/
.mypage-container {display : flex; flex-direction : row; width: 100vw; height : 900px; justify-content: center; margin-top: 50px;}
.mypage-content-box{display : flex; flex-direction : column; justify-content: center;}
.left-div {display : flex; flex-direction : column;   text-align: center ;}
.left-div ul {list-style: none;}
.left-div ul li { display: flex; flex-direction : column; margin-bottom: 10px;}
.left-div ul a {font-size : 15px; width: 160px; height: 30px; border-radius: 15px; background-color: #e9e9e9; text-align: center; line-height: 30px; text-decoration: none; color: #000000;}
.left-div ul a:hover {background-color: #49B466; color: #fff;}
.left-div ul .active a {background-color: #49B466; color: #fff;}
.right-div{display : flex; flex-direction : column; margin-left : 100px; width : 1000px;}
		 
/*수거접수 리스트*/
.btn-accept {border: none; border-radius: 3px; background-color: #49B466; color: white; padding: 5px 15px; font-weight: bold;}
		 

/* 받은 메세지 스타일*/
.letterBox {width:950px; padding:10px; display:flex; border-style:solid; border-color:grey; border-radius:10px;}
.letterIcon {width:50px; justify-content: center; align-items: center; text-align: center; padding-top:10px;}
.letterContent {padding-left:10px;}
